/* --------------------------
common & utilities style 
------------------------- */
* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}
/* -------------------
 header style 
 ----------------- */
.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.logo-area {
  display: flex;
  align-items: center;
}
.logo-area .fa-graduation-cap {
  font-size: 57px;
  color: rgb(220, 41, 35);
  margin-right: 5px;
}
.logo-text h1 {
  font-size: 37px;
  color: rgb(66, 66, 66);
}
.logo-text p {
  font-size: 15px;
  color: rgb(66, 66, 66);
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu ul li {
  margin-right: 12px;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 15px;
  font-weight: 600;
}
.menu ul li a:hover {
  color: rgb(222, 43, 36);
}
.menu ul li .fa-circle {
  font-size: 5px;
}
.menu ul li .active {
  color: rgb(222, 43, 36);
}
.menu ul li:last-child a {
  background-color: rgb(222, 43, 36);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
}
.menu ul li:last-child a:hover {
  background-color: rgba(222, 43, 36, 0.8);
}
.menu ul li:last-child {
  margin-right: 0px;
  margin-left: 12px;
}
/* -------------------
 banner style 
 ----------------- */
.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.banner-content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 600px;
  place-items: center;
  align-content: center;
}
.banner-content h1 {
  font-size: 48px;
  color: rgb(255, 255, 255);
}
.banner-content p {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}
.banner-content a {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(247, 205, 83);
  display: inline-block;
  padding: 12px 25px;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: 600;
}
.banner-content a:hover {
  background: rgba(247, 205, 83, 0.8);
}
/* -------------------
 about us part style 
 ----------------- */
.about-us-container {
  width: 75%;
  margin: auto;
  padding: 60px 0px;
}
.about-us-container .top-text {
  text-align: center;
}
.about-us-container .top-text h1,
.our-approach-container .top-text h1 {
  font-size: 36px;
  color: rgb(66, 66, 66);
}
.about-us-container .top-text p,
.our-approach-container .top-text p {
  color: rgb(66, 66, 66);
  font-size: 16px;
}
.about-us-container .top-text hr,
.our-approach-container .top-text hr {
  display: inline-block;
  width: 30px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 3px;
}
.about-us-container .icon-items {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.about-us-container .icon-items .item {
  width: 20%;
  text-align: center;
}
.about-us-container .icon-items .item h2 {
  color: rgb(66, 66, 66);
  margin-top: 10px;
  font-size: 22px;
}
.about-us-container .icon-items .item p {
  color: rgb(66, 66, 66);
  font-size: 15px;
  margin-top: 5px;
}
/* -------------------------
 our approach part style 
 ----------------------- */
.our-approach {
  background-color: rgb(243, 243, 243);
  margin-top: 10px;
}
.our-approach .our-approach-container {
  width: 80%;
  margin: auto;
  padding: 60px 0px 70px;
}
.our-approach-container .top-text {
  padding-bottom: 30px;
  text-align: center;
}
.content {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
  margin-bottom: 35px;
  height: 236px;
  border-radius: 4px;
}
.contents .content1 {
  display: flex;
  justify-content: space-between;
}
.content .content-img {
  width: 339px;
}
.content .content-text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content-text .text-flex-odd {
  margin: 0px 60px 0px 100px;
  text-align: left;
}
.content-text .text-flex-even {
  margin: 0px 100px 0px 60px;
  text-align: right;
}
.content-text .text-flex h1 {
  color: rgb(66, 66, 66);
  font-size: 18px;
  margin-bottom: 6px;
}
.content-text .text-flex p {
  color: rgb(66, 66, 66);
  font-size: 14px;
}
.contents .content2 {
  display: flex;
}
.content-img .number-box {
  background-color: rgb(222, 43, 36);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 10px 25px;
  line-height: 25px;
  text-align: center;
}
.content-img .number-box h1 {
  font-size: 35px;
  font-family: "Font Awesome 5 Pro";
  font-weight: bold;
}
.content-img .number-box p {
  font-size: 15px;
}
.content .img1 {
  position: relative;
}
.content .img2 {
  position: relative;
}
.content .img3 {
  position: relative;
}
.content .img4 {
  position: relative;
}
.content-img .box1 {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(255, 255, 255) -2px 0px 5px;
}
.content-img .box2 {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(50%, -50%);
  box-shadow: rgb(255, 255, 255) 2px 0px 5px;
}
.content-img .box3 {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(255, 255, 255) -2px 0px 5px;
}
.content-img .box4 {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(50%, -50%);
  box-shadow: rgb(255, 255, 255) 2px 0px 5px;
}
/* --------------------
 our work part style 
 ------------------ */
.our-work {
  background-color: rgb(221, 42, 36);
}
.our-work-container {
  width: 80%;
  margin: auto;
  padding: 60px 0px 80px;
}
.our-work-container .top-text {
  text-align: center;
}
.our-work-container .top-text h1 {
  font-size: 36px;
  color: rgb(255, 255, 255);
}
.our-work-container .top-text p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.our-work-container .top-text hr {
  display: inline-block;
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
}
.work-projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.work-projects img {
  width: 25%;
}
.work-projects .project-name {
  width: 25%;
  background-color: rgb(243, 94, 87);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.work-projects .project-name .far {
  font-size: 36px;
  margin-bottom: 15px;
}
.work-projects .project-name h1 {
  font-size: 26px;
  font-weight: 500;
}
.work-projects .project-name p {
  font-size: 15px;
}
/* ------------------
 form part style 
 ----------------- */
.form-part {
  background-color: #1286bf;
}
.form-container {
  width: 50%;
  margin: auto;
  padding: 60px 0 70px 0;
}
.form-container .top-text {
  text-align: center;
  color: #fff;
}
.form-container .top-text h1 {
  font-size: 32px;
}
.form-container .top-text p {
  font-size: 15px;
}
.form-area {
  text-align: center;
}
.form-area .fa-chevron-down {
  color: #fff;
  font-size: 30px;
  margin: 20px 0 40px 0;
  cursor: pointer;
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 10px 12px;
}
.form-area .fa-chevron-down:hover {
  color: rgba(255, 255, 255, 0.7);
  border: 5px solid rgba(255, 255, 255, 0.7);
}
.form-box {
  background: #fff;
  padding: 50px 0 60px 0;
  position: relative;
}
.form-box-area {
  width: 80%;
  margin: auto;
}
.form-box-area p {
  color: #828282;
  font-size: 15px;
  margin-bottom: 30px;
}
.form-box-area form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.form-box-area form input {
  margin-bottom: 15px;
  padding: 13px 0;
  padding-left: 15px;
  font-size: 18px;
  outline-color: #67add7;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
}
.form-box-area form input::placeholder {
  font-size: 14px;
  color: #b0b0b0;
}
.form-box-area form input:nth-child(3) {
  margin-bottom: 30px;
}
.form-box-area form input[type="submit"] {
  background: #dd2a24;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: auto;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
}
.form-box-area form input[type="submit"]:hover {
  background: rgba(221, 42, 36, 0.8);
}
.form-box .fa-times-circle {
  position: absolute;
  top: -25px;
  right: -25px;
  color: #dd2a24;
  font-size: 50px;
  background: #fff;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
}
.form-box .fa-times-circle:hover {
  color: rgba(221, 42, 36, 0.8);
}
.form-box .fa-caret-up {
  position: absolute;
  top: -50px;
  left: 50%;
  color: #fff;
  font-size: 80px;
  transform: translate(-50%, 0px);
}

/* -------------------------
 get in touch style here 
 ----------------------- */
.get-in-touch {
  background-color: #292929;
}
.get-in-touch-container {
  width: 50%;
  margin: auto;
  padding: 60px 0;
  text-align: center;
}
.get-in-touch-container h2 {
  color: #fff;
  font-size: 29px;
}
.get-in-touch-container .social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 25px 0 30px 0;
}
.get-in-touch-container .social ul li {
  margin-right: 20px;
  border: 2px solid #515151;
  border-radius: 5px;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-in-touch-container .social ul li:hover {
  border: 2px solid rgb(222, 43, 36);
}
.get-in-touch-container .social ul li a {
  color: #fff;
  font-size: 23px;
}
.get-in-touch-container .social ul li:last-child {
  margin-right: 0;
}
.get-in-touch-container .social ul .active {
  border: 2px solid rgb(222, 43, 36);
}
.get-in-touch-container p {
  color: #cecece;
  font-size: 14px;
}
.get-in-touch-container input {
  width: 100%;
  background-color: #515151;
  border: none;
  border-radius: 3px;
  padding: 15px 0;
  padding-left: 15px;
  margin: 25px 0;
  font-size: 18px;
  outline: none;
  color: #fff;
}
.get-in-touch-container input::placeholder {
  color: #cecece;
  font-size: 14px;
}
.get-in-touch-container button {
  background: none;
  border: none;
  border: 2px solid #515151;
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.get-in-touch-container button:hover {
  border: 2px solid rgb(222, 43, 36);
}
/* ----------------
 footer style 
 --------------- */
footer {
  background-color: #515151;
}
.footer-container {
  padding: 20px 0;
}
.footer-container p {
  font-size: 14px;
  color: #cecece;
  text-align: center;
}
